{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% if forloop.first %}
    {% assign premier = links %}
  {% endif %}
  {% if forloop.last %}
    {% assign dernier = links %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}


{% if prevurl %}
<a href="{{ premier.url }}" class="btn btn--primary btn--X-Large" title="{{ premier.title }} (1)"> Premier ! </a>
<a href="{{ prevurl }}" class="btn btn--primary btn--X-Large" title="{{ prevtitle }} (P)"> Précédent </a>
{% else %}
<a href="" class="btn btn--inverse btn--X-Large" title="C'est le premier !!"> <strike>Premier !</strike> </a>
<a href="" class="btn btn--inverse btn--X-Large" title="C'est le premier !!"> <strike>Précédent</strike> </a>
{% endif %}

<a href="/{{ page.collection }}/" title="menu {{ page.collection }} (M)" class="btn btn--primary btn--X-Large"> Menu </a>

{% if nexturl %}
<a href="{{ nexturl }}" class="btn btn--primary btn--X-Large" title="{{ nexttitle }}  (S)"> Suivant </a>
<a href="{{ dernier.url }}" class="btn btn--primary btn--X-Large" title="{{ dernier.title }} (D)"> Dernier ! </a>
{% else %}
<a href="" class="btn btn--inverse btn--X-Large" title="C'est le dernier !!"> <strike>Suivant</strike> </a>
<a href="" class="btn btn--inverse btn--X-Large" title="C'est le dernier !!"> <strike>Dernier !</strike> </a>
{% endif %}




<script>
/* post pagination keyboard shortcuts */
document.body.onkeyup = function(e){
  if (e.keyCode == '49') { window.location = '{{ premier.url }}'; } // 1 (first) key
  if (e.keyCode == '80') { window.location = '{{ prevurl }}'; } // p (précédent) key
  if (e.keyCode == '83') { window.location = '{{ nexturl }}'; } // s (suivant) key
  if (e.keyCode == '77') { window.location = '/{{ page.collection }}/'; } // m (menu) key
  if (e.keyCode == '68') { window.location = '{{ dernier.url }}'; } // d (dernier) key
};
</script>
